<html>
<head>
<title>
CHANGE PASSWORD
</title>
</head>
<body>

{% if messages %}
<ul class="messages">
        {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >
                        {{ message }}
                </li>
        {% endfor %}
</ul>
{% endif %}


<form action="./submit/" method="POST">
{% csrf_token %}
<table>
<tr><td>
OLD PASSWORD
<td/><td>
<input type="password" name="oldpassword" id="oldpassword">
<td/><tr/>

<tr><td>
NEW PASSWORD
<td/><td>
<input type="password" name="newpassword" id="newpassword">
<td/><tr/>

<tr><td>
CONFIRM NEW PASSWORD
<td/><td>
<input type="password" name="newpassword2" id="newpassword2">
<td/><tr/>
</table>
<button type="submit">CHANGE PASSWORD </button>
</form>

</body>
</html>
