<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/logapp/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/logapp/css/password.css">
<link rel="stylesheet" type="text/css" href="/static/logapp/css/header.css">
<title>
CHANGE PASSWORD
</title>
</head>
<body>

<header>	
    	<div id="logo" style="">
        <a href="../../../welcome">
        <img src="/static/logapp/images/logo.gif" alt="logo"/>
		</a>
		</div>
        
		<div id="head">
		<h1>@ :: WELCOME TO SAURABH's NETWORK :: @</h1>
		</div>
		
		<div id="user">

			<div id="username">
			<b id="usernameb	">	Welcome,<br/>
			{{ request.session.username }}
			</b>

			<div id="settings">
        	<div class="wrapper">
            	<div class="content">
               	 <ul>
               	     <a href="../"><li>Edit Profile</li></a>
               	     <a href="./"><li>Change Password</li></a>
               	     <a href="../../../logout"><li>Log Out</li></a>
               	 </ul>
            	</div>

        	<div class="parent">Settings</div>
        	</div>
    		</div>

	    	</div>
    </header>
	



<div id="content">

	<div id="title">
			<h3>CHANGE YOUR PASSWORD</h3>
	</div>

	<div id="notice">
			{% if messages %}
				<ul class="messages">
			    	    {% for message in messages %}
			        	        <p {% if message.tags %} class="{{ message.tags }}"{% endif %} >
			            	            {{ message }}
			                	</p>
			        	{% endfor %}
				</ul>
			{% endif %}
		</div>



<div id="change">

<form action="./submit/" method="POST">
{% csrf_token %}
<table id="change">

<tr><td>
<b>OLD PASSWORD</b>
</td><td>
<input type="password" name="oldpassword" id="oldpassword">
</td></tr>

<tr><td>
<b>NEW PASSWORD</b>
</td><td>
<input type="password" name="newpassword" id="newpassword">
</td></tr>

<tr><td>
<b>CONFIRM NEW PASSWORD</b>
</td><td>
<input type="password" name="newpassword2" id="newpassword2">
</td></tr>

<tr>
<td>
</td>
<td id="buttonb">
<button type="submit">CHANGE PASSWORD </button>
</td></tr>

</table>
</form>

</div>

<div id="footer">
	<h3> &copy Copyright | 2015</h3>
	</div>

</body>
</html>
