<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/logapp/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/logapp/css/profile.css">
<link rel="stylesheet" type="text/css" href="/static/logapp/css/header.css">
<title>
	PROFILE PAGE
</title>
</head>

<body>
	
	<header>	
    	<div id="logo" style="">
        <a href="../welcome">
        <img src="/static/logapp/images/logo.gif" alt="logo"/>
		</a>
		</div>
        
		<div id="head">
		<h1>@ :: WELCOME TO NIKHIL's NETWORK :: @</h1>
		</div>
		
		<div id="user">

			<div id="username">
			<b id="usernameb	">	Welcome,<br/>
			{{ request.session.username }}
			</b>

			<div id="settings">
        	<div class="wrapper">
            	<div class="content">
               	 <ul>
               	     <a href="./edit"><li>Edit Profile</li></a>
               	     <a href="./edit/password"><li>Change Password</li></a>
               	     <a href="../logout"><li>Log Out</li></a>
               	 </ul>
            	</div>

        	<div class="parent">Settings</div>
        	</div>
    		</div>

	    	</div>
    </header>
	
	<div id="content">

		<div id="title">
			<h3>WELCOME TO YOUR PROFILE PAGE</h3>
		</div>
		
		<div id="notice">
			{% if messages %}
				<ul class="messages">
			    	    {% for message in messages %}
			        	        <p {% if message.tags %} class="{{ message.tags }}"{% endif %} >
			            	            {{ message }}
			                	</p>
			        	{% endfor %}
				</ul>
			{% endif %}
		</div>

		<div id="cover">
		<form action="./upload/cover/" action="POST" enctype="multipart/form-data">
		{% csrf_token %}
			<input type="file">
			<button type="submit">
				UPLOAD
			</button>
		</form>
		</div>

		<div id="profile">
		</div>
		
		<div id="details">
		<b>Name : </b>{{ request.user.first_name }} {{ request.user.last_name }}
		<BR/>
		<b>Branch : </b>{{ profile.branch }}
		<BR/>
		<b>Enrollment No. : </b>{{ profile.enrollment }}
		<br/>
		<b>Gender : </b>{{ profile.gender }}
		</div>
		
		<div id="details2">
		<b>Birthday : </b>{{ profile.dob }}
		<BR/>
		</div>

		<div id="about">
		<b><u>About Me</u></b><br/>
		{{ profile.about }}
		</div>

		<div id="contact">
		<b><u>Contact Details</u><br/>
		</b>
		<b>Email-Id : </b>{{ request.user.email }}
		<BR/>
		<b>Mobile No. : </b>{{ profile.contact }}
		<BR/>
		<b>Address : </b>	{{ profile.address }}
		</div>

	</div>

	<div id="footer">
	<h3> &copy Copyright | 2015</h3>
	</div>
</body>
</html>